{% extends 'order/base.html' %}
{% block title %}complate order{% endblock title %}
{% block content %}
<style media="print">
  @page{
  size: 3in 5in;
  margin: 0in;
  padding: 0in;
}

#p{
  display: none;
}

#t{
  font-size: 14px;

}
</style>


<h id="p" class="p-5">Welcome - {{h.hotel_name}}</h>
<div id="p" class="container p-5  border rounded">
  <a id="p" href="/complate_order"   class="btn btn-success px-5 btn-sm" >Back</a>
</div>

<div class="container border">
<div class="row">
  <div class="col-11">
<h3 class="text-center">{{h.hotel_name}}</h3>
</div>
</div>
<div class="row">

  <div class="col-11">
<h6 class="text-center">{{h.hotel_address}}</h6>
</div>
</div>

<div class="row">
  <div class="col-8"> <h6>Bill Number-{{bill_number}}</h6> </div>
  <div class="col-4"><h6>Table-{{table_number}}</h6></div>
</div>

  <div>
    <h6>Date- {{date}}</h6>
  </div>
</div>




<div class="container border">
      
    <table id="t" class="table mb-0">
      
      <thead>
        <tr>
          <div class="row">
          <div class="col-8"><th >Item </th></div>
          <div class="col-1"><th >Qty</th></div>
          <div class="col-1"><th >Price</th></div>
          <div class="col-2"><th >Price</th></div>
        </div>
        </tr>
      
      </thead>
      <tbody>
        {% for o in od %}
        <tr>
          <div class="row">
          <div class="col-8"><td>{{o.dish_marathi_name}}</td></div>
          <div class="col-1"><td>{{o.qty}}</td></div>
          <div class="col-1"><td>{{o.price}}</td></div>
          <div class="col-2"><td>{{o.total_price}}</td></div>
        </div>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h6>Total Amount Rs. {{total}}</h6>
    <h6>Thank You Visit Again</h6>
  </div>


  <div class="container">
    <button id="p" type="button" class="btn btn-primary my-3" onclick="Bill_print()">Print</button>
  </div>

  <script>

    function Bill_print(){
    window.print();
    }
    
    
    </script>

{% endblock content %}

