{% extends 'order/base.html' %}
{% block title %}Hotel Dashboard{% endblock title %}
{% block content %}
{% include 'order/hotel/hotel_menu.html' %}
<body class="p-3 m-0 border-0 bd-example m-0 border-0">


  <h6>welcome {{h.hotel_name}} </h6>
  <div class="container py-5">
    <div class="row">
  <div class="col-6 text-center"><a href="/running_table"   class="btn btn-success" >चालू टेबल / नवीन टेबल </a></div>
  <div class="col-6 text-center"><a href="/complate_order/"   class="btn btn-danger" >पूर्ण झालेले बिल </a></div>
</div>
</div>
  <!-- End Example Code -->
<div class="contener border">
  <h4 class="contener border text-center">Summary </h4 >
  <table class="table">
    <div class="row">
    <thead>
      <tr>
        <div class="col-1"><th >Employee</th></div>
        <div class="col-1"> <th >Items</th></div>
        <div class="col-1"><th >Tables</th></div>
        <div class="col-1"><th >Orders</th></div>
      </tr>
    </thead>
  </div>
  <div class="row">
    <tbody>
      <tr>
        <div class="col-1"><td>{{e}}</td></div>
        <div class="col-1"><td>{{d}}</td></div>
        <div class="col-1"><td>{{t}}</td></div>
        <div class="col-1"><td>{{o}}</td></div>
      </tr>
    </tbody>
  </div>
  </table>
  <h6>Today Total Amount Rs. {{total}}</h6>
</div>


{% endblock content %}


