<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        height: 100%;
        width: 100%;

    }

    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
        background-color: rgb(255, 255, 255);
        text-align: center;
       
    }

    @media only screen and (min-width: 200px) and (max-width: 567px){
        .footer{
            width: 100%;
            height: 100%;

        }
    }
</style>

<footer>
    <div class="footer_iteam">
        <div><a href="/running_table"   class="btn btn-success btn-sm" >चालू टेबल / नवीन टेबल </a></div>
    </div>
</footer>