{% extends 'order/base.html' %}
{% block content %}
{% include 'order/hotel/navbar.html' %}





<div class="container ">
  <div class="row">
<h1 class="text-center pt-5"> बिलिंग आणि ऑर्डर व्यवस्थापन सेवा</h1>
</div>

  
<div class="container text-center my-3">


  <div class="text-center" ><a href="/login"   class="btn btn-primary " >Login</a></div>


</div>
</div>
</div>

</div>
</div>
</div>






<div class="container border my-5">
    <div class="row text-center">
    <div class="col"><h6> समाधानी ग्राहक ऑर्डर प्रिंट - {{orders}}</h6></div>
  </div>
  </div>
  



  <div class="container my-3 border">
   
      <div class="row">
        <h6 class="text-center">डेमो माहिती</h6>
        <div class=" col-4 border">
        
        <h6>हॉटेल लॉगिन </h6>
        <h6>मोबाईल - 123</h6>
        <h6>पिन - 123</h6>
      </div>
  
      <div class="col-4 border">
   
        <h6>वेटर लॉगिन </h6>
        <h6>मोबाईल - 1234</h6>
        <h6>पिन - 1234</h6>
      </div>
  
      <div class="col-4 border">
        
        <h6>कुक लॉगिन </h6>
        <h6>मोबाईल - 456</h6>
        <h6>पिन - 456</h6>
      </div>
    </div>
  
        
        
      </div>
      
     
    </div>
  
    <div class="container my-5">
      <h6>अधिक माहितीसाठी संपर्क </h6>
      <h6>सुनील काळे , करमाळा </h6>
      <h6>मोबाईल - 9730991252 </h6>
      <h6>ईमेल  - sunilkale101@gmail.com</h6>
  
  
  
      <div class="container text-center ">
        <iframe width="190" height="325" src="https://www.youtube.com/embed/8U9BuYhwrSc?si=R6E8bqyvlTmaYvUX&amp?autoplplay=1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
  
{% endblock content %}