{% extends 'order/base.html' %}
{% block title %}Running table{% endblock title %}
{% block content %}


<input type="hidden" id="hotel_id" value="{{h.id}}"></input>
<div class="container mt-5 p-5 border rounded">
  <div class="row py-2">


  <div class="col-6"><a href="/hotel_dashboard"   class="btn btn-success " >Hotel Dashbord</a> </div>
 
  <div class="col-6"> <a href="/complate_order/"   class="btn btn-danger" >पूर्ण झालेले बिल </a>    </div>
  

</div>
    <div  class="container border my-2">
        <h1 class="text-center bg"> चालू टेबल  </h1>
      </div>
        <div class="container border">
          
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Table Number</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for t in all_table %}
              <tr>
                <td><h1 class="my-3 text-center">{{t.table_number}}</h1></td>
                <td><a href="/view_order/{{t.id}}"  class="btn btn-success btn-lg my-3">View</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        
        
    
</div>






<div  class="container border">
    <h1 class="text-center bg"> नवीन टेबल सुरु साठी   </h1>
  </div>
  <div class="container border">
    <div class="row text-center">
    {% for t in table %}
      <div class="card mx-auto m-4 " style="width: 18rem;">
      
        <div class="card-body ">
          <div><strong id="color{{t.id}}"></strong></div>
          <h1 class="card-title " >{{t.table_number}}<h6 class="m-2 p-1"> Table</h6> </h1>
          
          <a href="/view_order/{{t.id}}" class="btn btn-primary" >Book Order </a>
        
        </div>
      </div>
    {% endfor %}
    </div>
    </div>
  
  
    
    





  
    
<script>  
change_color()

function change_color(){
  var hotel_id = document.getElementById('hotel_id').value;
 
  $.ajax({
    url: "{% url 'change_color' %}",
    method:'GET',
    data:{
      hotel_id:hotel_id,
    },
    success: function (data){
      for (var key=0; key<100; key++){
        i=(data.cart[key].table_id);
        text=`<h5 class="text-bg-danger text-center">Running </h5>`
     document.getElementById('color'+i).innerHTML=text;
   
      }
  
    }

  })
}




    
</script>  
   

{% endblock content %}
