{% extends 'order/base.html' %}
{% block title %}Add Order{% endblock title %}
{% block content %}

<input id="myText" value="{{name.dish_name}}"></input>
<button id="btn" onclick="text_to_speech()">speech</button>


<script>
  const textInput = document.querySelector('#myText');
  
  function text_to_speech(){
    const msg = new SpeechSynthesisUtterance;
    msg.text=textInput.value;
    msg.voice=speechSynthesis.getVoices()[0];
    speechSynthesis.speak(msg);
  }
</script>

{% endblock content %}