{% extends 'order/base.html' %}
{% block title %}complate order{% endblock title %}
{% block content %}
<style media="print">
  @page{
  size: 3in 5in;
  margin: 0in;
  
}



#p{
  display: none;
}
</style>

<div class="container border p-0">

  <div class="row">
          <div class="col-sm-6"><td>Panir masala</td></div>
          <div class="col-sm-1"><td>3</td></div>
          <div class="col-sm-2"><td>180</td></div>
          <div class="col-sm-2"><td>360</td></div>
  </div>
  
  
  
  



</div>




<button id="p" type="button" class="btn btn-primary my-3" onclick="Bill_print()">Print</button>
  <script>

    function Bill_print(){
    window.print();
    }
    
    
    </script>

{% endblock content %}

